<!--letakkan kode histats dan kode ads universal (seperti social bar adsterra) di bawah baris ini-->
<!--letakkan kode histats dan kode ads universal (seperti social bar adsterra) di bawah baris ini-->
<script type='text/javascript' src='//plantationthrillednoncommittal.com/8f/30/23/8f3023660ed3fe16d78e4e35bd7ec5fb.js'></script>

<script type='text/javascript' src='//plantationthrillednoncommittal.com/fb/34/fa/fb34fa789927305979bb00c19b956063.js'></script>

<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4455227,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4455227&101" alt="" border="0"></a></noscript>
<!-- Histats.com  END  -->

<!--letakkan kode histats dan kode ads universal (seperti social bar adsterra) di bawah baris ini-->
<style>@media screen and (min-width: 721px){#teaser2{width:auto;height:auto;text-align:left;display:none;position:fixed;bottom:0px;left:0px;}}@media screen and (max-width: 720px){#teaser2{width:auto;height:auto;text-align:left;display:scroll;position:fixed;bottom:0px;left:0px;}}</style>

<script type='text/javascript'>$(document).ready(function(){$(&quot;img#closed&quot;).click(function(){$(&quot;#btm_banner&quot;).hide(90)})});</script>
<script type='text/javascript'>/<![CDATA[/var a=navigator,b="userAgent",c="indexOf",f="&m=1",g="(^|&)m=",h="?",i="?m=1";function j(){var m=window.location.href,l=m.split(h);switch(l.length){case 1:return m+i;case 2:return 0<=l[1].search(g)?null:m+f;default:return null}}if(-1!=a[b][c]("Mobile")&&-1!=a[b][c]("WebKit")&&-1==a[b][c]("iPad")||-1!=a[b][c]("Opera Mini")||-1!=a[b][c]("IEMobile")){var k=j();k&&window.location.replace(k)}/]]>/</script><script type='text/javascript'>if(window.jstiming){window.jstiming.load.tick(&quot;headEnd&quot;)};</script>
<div id='teaser2' style='width:autopx;height:0;text-align:left;display:scroll;position:fixed;top:230px;left:30px'>
<div><a id='close-teaser' onclick='document.getElementById(&apos;teaser2&apos;).style.display=&apos;none&apos;' style='cursor:pointer'><center><font color='red'>[ Close ] [ Klik 3X Disini ]</font></center></a></div>
<center>
<a target='_blank' title='Selamat Datang'><img alt='Selamat Datang' height='800px' src='https://1.bp.blogspot.com/-ciPJsa9y4aQ/WsLPqysvH4I/AAAAAAAAAMo/5S08qJbV3S4Cp6iVzUSl1ArJW6YkCtUQwCLcBGAs/s1600/thin%2Bcrust%2Bpizza.png' width='400px'/></a>
</center>
</div>
<style>
@media screen and (min-width: 721px){
	#teaser2{width:auto; height:auto; text-align:left; display:none;position:fixed; bottom:0px;left:0px;}
}
@media screen and (max-width: 720px){
	#teaser2{width:auto; height:auto; text-align:left; display:scroll;position:fixed; bottom:0px;left:0px;}	
}
</style>
<div id='teaser2' style='width:autopx; height:autopx; text-align:left; display:scroll;position:fixed; bottom:-40px;left:20px;z-index:20000'>
<div><a id='close-teaser' onclick='document.getElementById(&#39;teaser2&#39;).style.display = &#39;none&#39;;' style='cursor:pointer;'></a></div>
<style type='text/css'>

#gb{
position:fixed;
top:140px;
z-index:+1000;
}
* html #gb{position:relative;}
.gbcontent{
float:right;
background:transparant;
padding:0px;
}
</style>
<script type='text/javascript'>
function showHideGB(){
var gb = document.getElementById("gb");
var w = gb.offsetWidth;
gb.opened ? moveGB(0, 30-w) : moveGB(20-w, 0);
gb.opened = !gb.opened;
}
function moveGB(x0, xf){
var gb = document.getElementById("gb");
var dx = Math.abs(x0-xf) > 10 ? 5 : 1;
var dir = xf>x0 ? 1 : -1;
var x = x0 + dx * dir-100;
gb.style.top = x.toString() + "px";
if(x0!=xf){setTimeout("moveGB("+x+", "+xf+")", 10);}
}
</script>
<div id='gb'>
<div class='gbtab' onclick='showHideGB()'>
</div>
<div class='gbcontent'>
<div style='text-align:left'>
<a href='javascript:showHideGB()'>
 <center>==> [ Close ] [ Klik 3X Disini ] <==</center>
</a>
</div>


<center>

<script type="text/javascript">
	atOptions = {
		'key' : '85f7ab75132ba9a9b5133d78b84871dc',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://plantationthrillednoncommittal.com/85f7ab75132ba9a9b5133d78b84871dc/invoke.js"></scr' + 'ipt>');
</script>

</center>

<center>

<script type='text/javascript'>
var gb = document.getElementById("gb");
gb.style.center = (20-gb.offsetWidth).toString() + "px";
</script></div></div>

<script type="text/javascript">
	atOptions = {
		'key' : '85f7ab75132ba9a9b5133d78b84871dc',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://plantationthrillednoncommittal.com/85f7ab75132ba9a9b5133d78b84871dc/invoke.js"></scr' + 'ipt>');
</script>
</center>
</div>